node-red.json
[{"id":"506b5f69.c3d88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1eeb2160.5f0edf","type":"inject","z":"506b5f69.c3d88","name":"","topic":"set","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["39f945a9.7fd48a"]]},{"id":"6465bce8.760624","type":"function","z":"506b5f69.c3d88","name":"","func":"switch(msg.topic){\n    case 'set':\n        msg.output=1\n        return msg;\n        break;\n    case 'rst':\n        msg.output=0\n        return msg;\n        break;\n    case 'in':\n        switch(msg.button){\n            case 'switch':\n                msg.output=msg.buttonPose\n                return msg;\n                break;\n            case 'push':\n                msg.output=1\n                return msg;\n                break;\n        }\n        break;\n}","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["75ff6db6.2eb534"]]},{"id":"ded359d3.44d918","type":"inject","z":"506b5f69.c3d88","name":"","topic":"rst","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["859b0736.a11dc8"]]},{"id":"39f945a9.7fd48a","type":"change","z":"506b5f69.c3d88","name":"set","rules":[{"t":"set","p":"inputType","pt":"msg","to":"set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":120,"wires":[["6465bce8.760624"]]},{"id":"342c03c5.766f6c","type":"debug","z":"506b5f69.c3d88","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"output","targetType":"jsonata","x":770,"y":240,"wires":[]},{"id":"85e02c60.cfade","type":"function","z":"506b5f69.c3d88","name":"","func":"\nif(msg.button==='switch'){\n    if(msg.switch==='on'){\n    msg.buttonPose=1\n    return msg;\n    }else if(msg.switch==='off'){\n     msg.buttonPose=0\n     return msg;\n    }\n}\nif(msg.button==='push'){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["6465bce8.760624"]]},{"id":"74e73610.a2b9d8","type":"inject","z":"506b5f69.c3d88","name":"","topic":"in","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["b5efbd49.c151f"]]},{"id":"b5efbd49.c151f","type":"change","z":"506b5f69.c3d88","name":"in","rules":[{"t":"set","p":"switch","pt":"msg","to":"on","tot":"str"},{"t":"set","p":"button","pt":"msg","to":"switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":240,"wires":[["85e02c60.cfade"]]},{"id":"d8cd0d5a.75478","type":"inject","z":"506b5f69.c3d88","name":"","topic":"in","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["6652356b.69329c"]]},{"id":"6652356b.69329c","type":"change","z":"506b5f69.c3d88","name":"in","rules":[{"t":"set","p":"button","pt":"msg","to":"switch","tot":"str"},{"t":"set","p":"switch","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":300,"wires":[["85e02c60.cfade"]]},{"id":"d6b02c2e.e831e","type":"inject","z":"506b5f69.c3d88","name":"","topic":"in","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["be1c9cfb.7ce4f"]]},{"id":"be1c9cfb.7ce4f","type":"change","z":"506b5f69.c3d88","name":"in","rules":[{"t":"set","p":"button","pt":"msg","to":"push","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":420,"wires":[["85e02c60.cfade"]]},{"id":"859b0736.a11dc8","type":"change","z":"506b5f69.c3d88","name":"rst","rules":[{"t":"set","p":"inputType","pt":"msg","to":"rst","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":160,"wires":[["6465bce8.760624"]]},{"id":"75ff6db6.2eb534","type":"function","z":"506b5f69.c3d88","name":"set t_on_max","func":"//you can set t_on_max here\nt_on_max=2000\nif(msg.output===1){\n    node.send(msg)\n    setTimeout(function(){\n            msg.output=0;\n            node.send(msg)\n    }, t_on_max);\n}else{\n    node.send(msg)\n}\n","outputs":1,"noerr":0,"x":680,"y":300,"wires":[["342c03c5.766f6c"]]}]